/* App.css */

/* Container for recipes and buttons */
#recipes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    min-height: 900px;
}

/* Recipe List */
.recipe-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* Recipe Item */
.recipe {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 500px; 
    height: auto; 
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    box-sizing: border-box; 
}

/* Image styles */
.recipe img {
    width: 100%; 
    max-height: 200px; 
    object-fit: cover; 
    margin-bottom: 10px; 
}

/* Heading styles */
.recipe h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

/* Paragraph styles */
.recipe p {
    font-size: 1em;
    margin: 10px 0;
    color: #666;
}

/* Button Container */
.button-container {
    margin-top: 10px;
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

/* Button styles */
.button-container button {
    padding: 4px 14px;
    border: none;
    border-radius: 15px;
    background: linear-gradient(90deg, #007bff, #0056b3);
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    flex: 1; /* Ensure buttons take equal width */
}

.button-container button:hover {
    background: linear-gradient(90deg, #0056b3, #003d80);
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.button-container button:active {
    background: linear-gradient(90deg, #003d80, #0056b3);
    transform: scale(1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Add Recipe Form */
.add-recipe-form {
    margin-bottom: 30px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

.add-recipe-form form {
    display: flex;
    flex-direction: column;
}

.add-recipe-form input,
.add-recipe-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.add-recipe-form button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background: linear-gradient(90deg, #0056b3, #003d80);
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.add-recipe-form button:active {
    background: linear-gradient(90deg, #003d80, #0056b3);
    transform: scale(1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.add-recipe-form button:hover {
    background-color: #0056b3;
}

/* Modal Styles */
.modal {
    display: none; 
    position: fixed;
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5); 
}

/* Modal Content */
.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Heading styles */
.heading {
    color: #5829c7;
    margin-bottom: 20px;
    font-size: 48px; 
    font-weight: bold; 
    text-align: center; 
}

.recipe .delete-button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    background-color: #dc3545; 
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px; 
}
.recipe .delete-button:hover {
    background-color: #c82333;
}
